.wrapper {
    position: relative;
    min-height: 100%;
}

.menu {
    position: relative;
}

/*Error Pages*/
.http-error {
  margin-top: 5em;
  text-align: center;
  color: #444;
}

.http-error h1 {
  font-size: 5em;
  line-height: 1em;
  text-shadow: 1px 1px 0px #fff;
  color: #444;
}

.http-error p {
  margin: 0px;
}

.http-error .info {
  font-size: 2em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

.http-error i {
  font-size: 3em;
  line-height: .75em;
  text-shadow: 1px 1px 0px #fff;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .nav li {
    display: table-cell;
    width: 200px;
}

/*override bootstrap*/
.navbar .nav > li > a {
    padding: 10px 10px 10px !important;
}

.navbar .nav li a {
    font-weight: bold;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,.75);
    border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
    border-left: 0;
    border-radius: 3px 0 0 3px;
}

.navbar .nav li:last-child a {
    border-right: 0;
    border-radius: 0 3px 3px 0;
}
/*********************************/

.locale {
    position: relative;
    right: 30px;
    top: -52px;
}

.login {
    width: 50%;
    margin: auto;
}

.login  input[type="text"], .login input[type="password"], .login select,
.reservation-body  input[type="text"], .booking-request-body input[type="text"],
 .booking-request-body select {
    height: 40px;
    font-size: 16px;
}

.login a {
    float: right;
}

.center {
    text-align: center;
}

.page-name {
    padding: 10px;
    text-indent: 10px;
    color: blue;
}

.panel-primary {
    border: 1px solid #007fff;
    border-radius: 5px;
}

.panel-title {
    margin-top: 0;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #007fff;
    border-color: #007fff;
}

.both_side div:first-child {
    float: left;
}

.both_side div:last-child {
    float: right;
}

.overflow-hidden {
    overflow:hidden;
}

.table_search {
    overflow: hidden;
    margin-bottom: 10px;
}

.table_search select, .table_search input[type="search"] {
    margin-bottom: 0px;
}

.margin-bottom50  {
    margin-bottom: 0 0 50px 0 !important;
}

.margin-right10 {
    margin-right: 10px !important;
}

.margin-right20 {
    margin-right: 20px !important;
}

.margin-top10 {
    margin-top: 10px !important;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.glyphicon-pencil:before {
    content: "\270f";
}

.glyphicon-trash:before {
    content: "\e020";
}

.pagination-block {
    margin-bottom: 0 0 50px 0 !important;
    overflow: hidden;
}

.table_wrapper .sorting {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.btn-convert-position {
   position: absolute;
   margin: 6px 0 0 6px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 50%;
}